{% extends 'registration/_base.html' %}

{% block title %}{{ block.super }} | Sign out{% endblock %}

{% block content %}
<div class="container">
    <div id="logout" class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title h1">Sign out</p>
            </div>
            <div class="panel-body">
                <p>You have been signed out.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
